NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://cholobohudurofficial_db_user:nK9lLkLqQcDB1gzY@cluster0.7he7kub.mongodb.net/cholonbil?appName=Cluster0
JWT_ACCESS_SECRET=fm8NZsTxnjfmQvhXGEArpj1HOBEEXnCoMf4pjwTsw4o
JWT_REFRESH_SECRET=JvPYjfMAcwf6uFUWaw5lAQAD9D4mj0LKU3bgUPUFTZ4
ENCRYPTION_KEY=eFg4IGg2N7MWuzwkW13cGHXDSEeKJ89RTOPWJssQK51
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
COOKIE_DOMAIN=localhost
CORS_ORIGIN=http://localhost:3000
